@import url('https://fonts.googleapis.com/css?family=Asap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-color:#24272E;
  font-family:Asap, sans-serif;

}

header {
  background: white;
  padding:20px;
}

header > h1 {
  color:#25272E;
  text-align:center;
}

img {
  height:100px;
  width:100px;
  object-fit:contain;
}

.scoreboard {
  border: 3px solid white;
  border-radius: 4px;
  text-align:center;
  width:200px;
  margin: 20px auto;
  color:white;
  font-size:46px;
  padding: 15px 20px;
  position:relative;
}

.badge {
  background: #E2584D;
  font-size:14px;
  padding:2px 10px;
}

#userbadge {
  position:absolute;
  top: 30px;
  left:-25px;
}

#compbadge{
  position:absolute;
  top: 30px;
  right:-30px;
}

.result {
  font-size:40px;
  color: white;
}

.result >p {
    text-align:center;
    font-weight:bold;
}

.choices {
  text-align:center;
  margin-top: 50px;
}

.choice {
  border: 4px solid white;
  border-radius:50%;
  display: inline-block;
  padding:10px;
  margin: 0 20px;
  transition: all 0.4s ease;
}
.choice:hover {
  cursor:  pointer;
  background: #E2584D;
}

#actionmessage {
  text-align: center;
  color:white;
  font-size: 20px;
  font-weight:bold;
  margin-top:20px;
}
